.full-center {
  position: fixed;
  top: 20vh;
  left: 33vw;
  width: 33vw;
}

.main {
  margin: 1rem auto;
  width: 85%;
  font-family: 'Lato', sans-serif;
  /* font-size: 12px; */
}

.small-margin {
  margin: .25rem 0;
}

.med-margin {
  margin: 1rem 0;
}

.contact-buttons{
  margin: auto auto;
}
.contact-form{
  position: fixed;
  top: 10vh;
  left: 20vw;
  margin: 2rem auto;
  width: 60vw;
  background-color: whitesmoke;
  border: rgb(66, 66, 66) 5px solid
}

.search {
  margin: 0 auto;
}